<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Min sida</h2>
  </div>

  <form class="w3-container" enctype="multipart/form-data">
    <div>
      <label>Förnamn</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.first_name" name="first_name">
    </div>
    <div>
      <label>Efternamn</label>
      <br>
      <input type="text" class="w3-input" [(ngModel)]="user.last_name" name="last_name">
    </div>
    <div>
      <label>Address1</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.address1" name="address1">
    </div>
    <div>
      <label>Address2</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.address2" name="address2">
    </div>
    <div>
      <label>Email</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.email" name="email">
    </div>
    <div>
      <label>Mobil nummer</label>
      <br>
      <input type="tel" class="w3-input" [(ngModel)]="user.phone" name="phone">
    </div>
  </form>
  <br>
  <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="updateUser()">Spara</button>
</div>
