<div class="w3-container">
  <div class="w3-row productDiv">
    <div class="w3-col l8 productDivLeft">
      <div class="imgDiv">
        <img class="image" src="../../../../assets/images/{{Allproducts.picture}}" alt="">
      </div>
    </div>
    <div class="w3-col l4 productDivRight">
      <div class="inner-product">
      <h1>{{Allproducts.product_name}}</h1>
      <span>{{Allproducts.price}}</span>
      <button type="button" class="w3-button w3-block w3-green" (click)="addToCart(Allproducts.product_id)">Lägg till i varukorg</button>
    </div>
    </div>
  </div>
  <div class="w3-row infoForCustomer">
    <div class="w3-col s12 m6 w3-button w3-bottombar w3-padding" (click)="tabIndex = 1" [ngClass]="{'w3-border-red': tabIndex === 1}">Recensioner</div>
    <div class="w3-col s12 m6 w3-button w3-bottombar w3-padding" (click)="tabIndex = 2" [ngClass]="{'w3-border-red': tabIndex === 2}">Information</div>
  </div>

  <div class="w3-row reviewForCustomer" *ngIf="tabIndex === 1">



    <button type="button" *ngIf="!isLoggedIn()" routerLink="/login" class="w3-button w3-block w3-teal">Logga in för att recensera</button>

    <div class="w3-col l12 textareaDiv" *ngIf="isLoggedIn()">
      <textarea name="review" [(ngModel)]="reviews.reviewsText" class="textAreaForCustomer" cols="30" rows="10"></textarea>
      <button type="button" (click)="saveReview()" class="w3-button w3-block w3-green">Skapa recension</button>
    </div>

    <hr>

    <div class="w3-col l12 customersReview" *ngFor="let review of reviewsByProduct">
      <h5>{{review.first_name}}</h5>
      <h5>{{review.date}}</h5>
      <span>{{review.reviews_text}}</span>
    </div>

  </div>

  <div class="infoProduct" *ngIf="tabIndex === 2">
    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit laboriosam aspernatur dolore? Esse facilis eligendi magni, quae tempora saepe ab, quis similique consequuntur, animi eveniet sed placeat soluta aut a.lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, recusandae cupiditate natus similique commodi eum unde accusamus, praesentium delectus nihil vero possimus voluptatem ipsum expedita maiores nam in quo ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic maiores atque accusamus soluta placeat? Mollitia ea cupiditate cum. A nulla repellendus corrupti culpa quis provident molestiae quos sed at tenetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod corporis, quam reiciendis modi repellat necessitatibus harum aperiam qui est vel facere sapiente exercitationem autem, impedit voluptas quas perferendis, cum officiis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe at ipsa ut harum autem, iusto neque odio. Dolorum ut nisi iste sapiente, dicta quis ea tempore cupiditate, repudiandae numquam odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatibus quae odio sequi quos nostrum magni labore, tempore cum nobis, explicabo, consectetur nihil natus velit ab? Odio ipsum porro voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatem beatae id omnis! Ipsa natus obcaecati soluta explicabo, sit iusto vero omnis placeat quo adipisci est illum dolorem neque cupiditate.</span>
  </div>



</div>

