.image {
    max-width: 100%;
    max-height: 100%;
    border: 10px solid grey;
}

.imgDiv {
    text-align: center;
}

.productDiv {
    padding: 20px 0;
    display: flex;
}

.productDivLeft {
    padding-right: 10px;
}

.productDivRight {
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
}

.inner-product {
    width: 100%;
}

.infoForCustomer {
    border-top: 1px solid #9e9e9e61;
    padding-top: 30px;
    padding-bottom: 10px;
    max-width: 1187px;
}

.reviewForCustomer {

    max-width: 1187px;
  


}
.textareaDiv {
    max-width: 1187px;
}
.textAreaForCustomer {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    box-sizing:border-box;

}

.customersReview {
    border-top: 1px solid #9e9e9e61;
    height: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.infoProduct{
    max-width: 1187px;
}