.w3-sidenav {
}
.test1 {
    border-left: 1px solid #9e9e9e61;
    border-right: 1px solid #9e9e9e61;
}
.test {
    padding-top: 20px;
}

.container-fluid {
    display: flex;
}

.nav-header {
    background-color: grey;
    text-align: center;
}

.nav-item:hover { 
    background-color: #616161;
}

.nav-item a:hover { 
    color: white;
}

.nav-header p {
    padding: 10px 0;
}
@media screen and (max-width: 991px) {
    #mySidebar {
        display: none
    }
}