<div class="w3-row">
  <div class="w3-sidenav w3-col l2">
    <div class="test1">
      <div class="nav-header" (click)="toggleCategory()">
        <p>Kategorier</p>
      </div>
      <div id="mySidebar">
        <ul class="nav flex-column" *ngFor="let category of categories">
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/category/{{category.category_id}}">{{category.category_name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="w3-container w3-col l10">
    <router-outlet></router-outlet>
  </div>
</div>
