<h2 style="text-align:center; padding-bottom:20px;">Produkter</h2>
<div class="w3-col l3 s6 productDiv" *ngFor="let data of products" routerLink="/products/{{data.product_id}}">
  <div class="w3-container inner-product">
    <img src="../../../../assets/images/{{data.picture}}" style="width:100%">
    <p>{{data.product_name}}<br><b>{{data.price}} SEK</b></p>
  </div>
</div>
<div class="w3-col l3 s6 productDiv" *ngFor="let data of productsStore" routerLink="/store/products/{{data.product_id}}">
  <div class="w3-container inner-product">
    <img src="../../../../assets/images/{{data.picture}}" style="width:100%">
    <p>{{data.product_name}}<br><b>{{data.price}} SEK</b></p>
  </div>
</div>
<!-- <mat-paginator #paginator
  [length]="products.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]">
</mat-paginator> -->