
<div class="">

  <div class="w3-col l8">
    <div class="w3-card-4">
      <div class="w3-container w3-teal">
        <h2>Uppgifter</h2>
      </div>

      <form class="w3-container" enctype="multipart/form-data">
        <div>
          <label>Förnamn</label>
          <br>
          <input type="Text" class="w3-input" [(ngModel)]="user.first_name"  name="first_name">
        </div>
        <div>
        <label>Efternamn</label>
        <br>
        <input type="Text" class="w3-input" [(ngModel)]="user.last_name" name="last_name">
      </div>
        <div>
          <label>Nummer</label>
          <br>
          <input type="text" class="w3-input" [(ngModel)]="user.phone" name="phone">
        </div>
        <div>
          <label>Email</label>
          <br>
          <input type="Text" class="w3-input" [(ngModel)]="user.email" name="email">
        </div>
        <div>
          <label>Leveransaddress</label>
          <br>
          <input type="Text" class="w3-input" [(ngModel)]="user.address1" name="address1">
        </div>
        <div>
          <label>Postnr</label>
          <br>
          <input type="Text" class="w3-input" [(ngModel)]="products.price" placeholder="Price" name="price">
        </div>
        <br>
      </form>
    </div>
  </div>

  <div class="w3-col l4">
    <div *ngFor="let data of newProduct">
      <div class="w3-card-4">
        <div class="w3-container w3-teal">
          <h2>{{data.product_name}}</h2>
        </div>
        <form class="w3-container" enctype="multipart/form-data">
          <div>
            <label>{{data.price}} SEK</label>
            <br>
            <input type="number" class="w3-input" name="count" [(ngModel)]="data.count" value="{{data.count}}">
          </div>
          <br>
        </form>
      </div>
    </div>
    <br>
    <div class="w3-card-4">
      <div class="w3-container w3-teal">
        <h2>{{total}}</h2>
      </div>
    </div>

  </div>

</div>
<br><br>
<button class="w3-card-4 w3-button w3-block w3-green" type="button" (click)="postOrder()">Slutför ordern</button>
