<div class="main-container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand bg-dark" >Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navBar" id="navbarSupportedContent">
      <div class="flexbox">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" href="#">Startsida <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/products">Produkter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/checkout">Varukorg</a>
          </li>

          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Företag
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a *ngFor="let company of companies" class="dropdown-item" routerLink="/store/{{company.supplier_id}}">{{company.company_name}}</a>
            </div>
          </li>
          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Kategorier
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a *ngFor="let category of categories" class="dropdown-item" routerLink="/products/category/{{category.category_id}}">{{category.category_name}}</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" *ngIf="getNameOfLoggedInUser() === null" routerLink="/login">Logga in</a>
            <a class="nav-link" routerLinkActive="active" *ngIf="getNameOfLoggedInUser() != null" routerLink="/mypage">{{user.first_name}}
              {{user.last_name}}</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0 searchProduct">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #titleInput>
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="productSearch(titleInput.value)">Sök</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
  <!-- <div class="w3-sidebar w3-bar-block w3-white w3-animate-left" style="display:none;z-index:4" id="mySidebar">
    <button class="w3-bar-item w3-button" (click)="w3_close()">Close</button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a> 
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
  </div> -->

  <!-- Overlay -->
  <!-- <div class="w3-overlay" (click)="w3_close()" style="cursor:pointer"></div> -->

  <!-- Page content -->
  <!-- <button class="w3-button w3-xlarge" (click)="w3_open()">&#9776;</button> -->
  <!-- <div class="w3-container">
    <h1>Sidebar Overlay</h1>
    <p>Click on the "hamburger" icon to slide in the side navigation.</p>
  </div> -->
  <!-- <div class="router-container">
    <div class="w3-col l3 s6 productDiv" *ngFor="let data of products" routerLink="/products/{{data.product_id}}">
      <div class="w3-container inner-product">
        <img src="../../../../assets/images/{{data.picture}}" style="width:100%">
        <p>{{data.product_name}}<br><b>{{data.price}} SEK</b></p>
      </div>
    </div>
  </div> -->
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>