.router-container {
    max-width: 1280px;
    margin: 0 auto;
    width: 95%;
    padding-top: 20px;
}

.flexbox {
    display: flex;
    justify-content:  space-between;
}

.navBar {
    max-width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width: 991px) {
    .navbar .searchProduct {
        display: none;
    }
    .flexbox {
        display: flex;
        justify-content:  center;
    }
}