<p>
  login works!
</p>
<!-- 
<form action="">
  <input type="text" name="username" id="" [(ngModel)]="cred.username">
  <input type="text" name="password" id="" [(ngModel)]="cred.password">
  <button type="button" (click)="login()"></button>
</form> -->
<div class="body-container">
  <div class="main-container">
    <div class="alert" *ngIf="success === false">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Invalid!</strong>
    </div>
    <div class="alert success" *ngIf="success === true">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Success!</strong>
    </div>
    <h5 *ngIf="success === false">Your form is valid</h5>

    <div class="w3-row">
      <div class="w3-col s12 m6 w3-button w3-bottombar w3-padding" (click)="tabIndex = 1" [ngClass]="{'w3-border-green': tabIndex === 1}">Login</div>
      <div class="w3-col s12 m6 w3-button w3-bottombar w3-padding" (click)="tabIndex = 2" [ngClass]="{'w3-border-green': tabIndex === 2}">SignUp</div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="login()">
      <div *ngIf="tabIndex === 1">
        <div class="imgcontainer">
          <img src="../../../../assets/ImagesForSite/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Email</b></label>
          <input type="text" placeholder="Enter Username" formControlName="username" [(ngModel)]="cred.username"
            required>
          <div *ngIf="submitted && messageForm.controls.username.errors" class="error">
            <div *ngIf="messageForm.controls.username.error.required && !messageForm.controls.username.error.touched">Your
              name is required, bro</div>
          </div>
          <label for="psw"><b>Lössenord</b></label>
          <input type="password" placeholder="Enter Password" formControlName="password" [(ngModel)]="cred.password"
            required>
          <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
            <div *ngIf="!messageForm.controls.password.error.required && !messageForm.controls.password.error.touched">Your
              password is required, bro</div>
          </div>
          <button type="submit" value="send">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            <span class="psw">Forgot <a href="#">password?</a></span>
          </label>
        </div>
      </div>
    </form>

    <div *ngIf="tabIndex === 2">
      <form>
        <div class="imgcontainer">
          <img src="../../../../assets/ImagesForSite/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        <div class="w3-row-padding">
          <h1 style="text-align: center;">Skapa konto</h1>
          <div class="w3-half">
              <label for="firstName"><b>Förnamn</b></label>
              <input type="text" class="w3-input w3-border"  name="firstName" [(ngModel)]="signUp.firstName">
            
            <label for="address1"><b>Adress1</b></label>
            <input type="text" class="w3-input w3-border"  name="address1" [(ngModel)]="signUp.address1">
            
            <label for="phone"><b>Mobilnummer</b></label>
            <input type="text" class="w3-input w3-border"  name="phone" [(ngModel)]="signUp.phone">
          </div>
          <div class="w3-half">
              <label for="lastName"><b>Efternamn</b></label>
              <input type="text" class="w3-input w3-border"  name="lastName" [(ngModel)]="signUp.lastName">
            <label for="address2"><b>Adress2</b></label>
            <input type="text" class="w3-input w3-border"  name="address2" [(ngModel)]="signUp.address2">
            <label for="email"><b>Email</b></label>
            <input type="text" class="w3-input w3-border"  name="email" [(ngModel)]="signUp.email">
          </div>
          <label for="password"><b>Lösenord</b></label>
          <input type="password" class="w3-input w3-border"  name="password" [(ngModel)]="signUp.password">
        </div>
        <div class="container">
          <div class="clearfix">
            <button type="button" class="signupbtn" (click)="onSignUp()">Registrera</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
